img{
margin-inline: auto;
overflow: clip;
display: block;
 max-width: 100%;
margin-top: 250px;
box-sizing: border-box;
}
header p{
    color: white;
    font-family: Determination;
    font-size: 40px;
    text-align: center;
}

body{
    font-family: Determination;
    background-color: black;
    overflow-x: hidden;
}
@font-face {
    font-family: 'Determination';
    src: url(/font/determination.ttf);
}
li{

display: inline;
}
a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.menu{
list-style-type: none;
}
a:hover{
    color: yellow;
}
.menu2{
    position: relative;
    display: inline-block;
    vertical-align: auto;
    left: 22%;
    padding-block: 16px;
    padding-inline: 2px;
    width: 12%;
    text-align: center;
    background-color: rgb(68, 68, 68);
    border: 2px solid;
}
#b{
    margin-left: 1%;
}
#c{
    margin-left: 1%;
}
#d{
    margin-left: 1%;
}
footer img{
    height: 80px;
    width: 80px;
    float: left;   
}
#dog{
    background-image: url(img/dog-bark.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 100px;
    left: 20px;
}
footer #dog:hover{
    opacity: 0;
}
#dog-bark{
    float: left;
    position: absolute;
    bottom: 100px;
    opacity: 0;
    left: 20px;
}
#dog-bark:hover{
    opacity: 100%;
}
.footer{
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
}
.kropka p{
    text-align: center;
    font-size: 40px;
}